:root {
    /* Very dark gray (almost black) */
    --background-color: #1a1a1a;
    /* Dark gray with slight transparency */
    --overlay-background-color: rgba(30, 30, 30, 0.9);
    /* Light gray */
    --primary-text-color: #e0e0e0;
    /* Medium gray */
    --secondary-text-color: #b3b3b3;
    /* Coral red */
    --highlight-color: #ff7b71;
    /* Dark coral red */
    --highlight-color2: #ff6f61;
    /* Dark coral red */
    --button-hover-color: #d9534f;
    /* Coral red */
    --link-color: #ff695c;
    /* Dark coral red */
    --link-hover-color: #d9534f;
    /* Semi-transparent black */
    --box-shadow-color: rgba(0, 0, 0, 0.5);
    /* Crimson */
    --title-gradient-start: rgba(220, 20, 60, 0.9);
    /* Orange-red */
    --title-gradient-end: rgba(255, 69, 0, 0.9);
    /* Crimson with transparency */
    --h3-background-color: rgba(220, 20, 60, 0.7);
    /* Coral red */
    --rank-color: #ff6f61;
    /* Light gray */
    --rating-color: #e0e0e0;
    /* Light red*/
    --mobile-underline-color:rgba(247, 162, 162, 0.63);
}