.titles, .links,.projects,.assignments, .langs {
    padding-left: 10px; 
}
.titles {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, rgb(136, 92, 60,0.5), rgba(168, 134, 109, 0.712)); 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 30px; 
}

.titles h1 {
    font-size: 2.5em;
    color: #333;
    margin: 0;
    letter-spacing: 1px; 
}

.titles h2 {
    font-size: 1.5em;
    color: #141414;
    margin-top: 10px;
    font-weight: 300; 
}

.titles a {
    color: #002d4b;
    text-decoration: none;
    border-bottom: 2px solid #007acc; 
}

.titles a:hover {
    color: darkblue;
    border-bottom-color: #005f99;
}
body {
    background-color: black;
    background-image: url('../images/bg.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
.body{
    background-color: rgba(175, 133, 104, 0.877);
    background-size: cover; 
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
}
.menu{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    
}
.projects h4{
    color:#0d4266;
}
.project_info{
    color:black;
}
.numlist li::marker {
    color: black; 
}
.bulletlist li::marker {
    color: black; 
}
.titles{
    background-color: rgb(136, 92, 60,0.5);
    backdrop-filter: blur(10px);
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    height: 3vh;
    background-color: rgb(136, 92, 60,0.5);
    backdrop-filter: blur(10px);
}
.links h2{
    margin:0; 
    padding: 0;
    text-align: left;
    color:#0d4266;
    display: block; 
}
.links img{
    width: 25px; height: auto;
}
.info li{
    color:#0d4266;
}
.langs{
    margin: 0;
    padding: 0;

}
.langs li {
    margin: 5px 0; 
}
.projects{
    padding-left: 10px;
}
.assignments{
    padding-left: 10px;
}
.highlight {
    color: #0d4266; 
    font-weight: bold;
    text-decoration: underline; 
}
.proficiency {
    font-weight: bold;
    font-size: 0.7em;
    color:black;
}
h2, p{
    color: black;
    text-align: center;
  }
.button {
    text-align: left;
}
h3{
    color:black;
    background-color: rgba(172, 104, 55, 0.5);
    backdrop-filter: blur(10px);
    margin-left: auto;
    margin-right: auto;
}
ol{
    color:darkblue;
} 